
<p>Cliente: {{pedido.cliente}}</p>
<p>Dirección: {{pedido.direccion}}</p>

<button routerLink="/usuario">Ir a Usuario</button>

<input #buscador type="text" placeholder="Busque un producto">

<button mat-button  color="accent" (click)="agregarProducto()">Agregar Producto</button>

<app-pedido-detalle [pedidoDetalle]="pedido.pedidoDetalle" (seEliminoUnProducto)="elHijoEliminoAlgo($event)" ></app-pedido-detalle>

